@rendermode InteractiveAuto

<h3>@TimerDisplay</h3>

@code {
    [Parameter]
    public TimerType Type { get; set; }

    [Parameter]
    public EventCallback<bool> DisplayMovies { get; set; }

    private System.Timers.Timer _timer;

    private int _timerCount;

    private int _countdownSpeed;

    private string TimerDisplay = "";

    public enum TimerType
    {
        PreGame,
        InGame
    }

    protected override async Task OnInitializedAsync()
    {
        _timerCount = Type == TimerType.PreGame ? 3 : 10; // Set initial count for Pre-Game timer
        _countdownSpeed = Type == TimerType.PreGame ? 1500 : 2000;
        await RunTimer();
    }

    private async Task RunTimer() 
    {
        _timer = new System.Timers.Timer(_countdownSpeed);  
        _timer.Elapsed += CountDownTimer;
        _timer.Enabled = true;
    }

    private async void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (_timerCount > 0)
        {

            switch (_timerCount)
            {
                case 3:
                    TimerDisplay = "Lights...";
                    await InvokeAsync(StateHasChanged);
                    break;
                case 2:
                    TimerDisplay = "Camera...";
                    await InvokeAsync(StateHasChanged);
                    break;
                case 1:
                    TimerDisplay = "Action!";
                    await InvokeAsync(() =>
                    {
                        DisplayMovies.InvokeAsync(true);
                        StateHasChanged();
                    });
                    break;
            }

            _timerCount -= 1;
        }
        else
        {
            _timer.Enabled = false;
            _timer.Dispose();
        }
    }
}
