@inject ITMDBApi Tmdbapi
@rendermode InteractiveAuto

@if(Movie != null)
{
    @if (DisplayMovie)
    {
        <div class="card" style="width: 10rem; margin: 5px;">
            <img src="@Movie.PosterPath" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">@Movie.Title</h6>
                @if(Movie.Selectable){
                    <a href="#" class="btn btn-primary" @onclick="OnSelectMovie">Select</a>
                }
                else
                {
                    <button disabled class="btn btn-primary" @onclick="OnSelectMovie">Select</button>
                }
            </div>
        </div>
    }
}


@code {
    [Parameter]
    public Movie Movie { get; set; }

    [Parameter]
    public bool DisplayMovie { get; set; }

    [Parameter]
    public EventCallback DisableMovieSelection { get; set; }

    [Parameter]
    public EventCallback<int> MovieSelected { get; set; }


    private async void OnSelectMovie(MouseEventArgs e)
    {
        await MovieSelected.InvokeAsync(Movie.Id);
    }
}
