@inject ITMDBApi Tmdbapi
@rendermode @(new InteractiveAutoRenderMode(prerender: false))


<section class="container-fluid" width="400px">
    <div class="row">
        @foreach (Movie movie in _movies)
        {
            <MovieDisplay DisplayMovie="@_displayMovies" Movie="movie" />
        }
    </div>
</section>




@code {
    [Parameter]
    public Actor Actor { get; set; }

    [Parameter]
    public bool DisplayMovies { get; set; }

    private TMDBConfiguration? _tmdbConfiguration;
    private string _imagePath = "https://image.tmdb.org/t/p/w300/";
    private List<Movie> _movies = new List<Movie>();
    private bool _displayMovies = false;
    private bool _keySelected = false;  
    private Movie _answerKey = new Movie();

    protected override async Task OnInitializedAsync()
    {
        _tmdbConfiguration = await Tmdbapi.GetConfigurationAsync();
        _imagePath = _tmdbConfiguration?.Images?.BaseUrl + _tmdbConfiguration?.Images?.PosterSizes?.Find(posterSize => posterSize == "w185") ?? "https://image.tmdb.org/t/p/w300/";
        if (Actor != null)
        {
            _movies = await LoadMovies();
            StateHasChanged();
        }
    }

    protected override void OnParametersSet()
    {
        _displayMovies = DisplayMovies;
    }

    private async Task<List<Movie>> LoadMovies()
    {
        List<Movie> movies = new();
        TopRatedMovieDataSet possibleKeys = new();
        List<int> idsUsed = new();
        int randomIndex = 0;

        while(movies.Count < 5)
        {
            randomIndex = new Random().Next(0, Actor.CastAndCrewCredits.CastCredits.Count);
            Movie movie = await Tmdbapi.GetMovieById(Actor.CastAndCrewCredits.CastCredits[randomIndex].Id, false);
            if (movie != null
                && !string.IsNullOrEmpty(movie.Title)
                && !string.IsNullOrEmpty(movie.Overview)
                && !idsUsed.Contains(movie.Id))
            {
                idsUsed.Add(movie.Id);
                movie.PosterPath = _imagePath + movie.PosterPath;
                movies.Add(movie);
            }
        }

        randomIndex = new Random().Next(1, 25);
        possibleKeys = await Tmdbapi.GetMoviesForKeyAsync(randomIndex);

        while(!_keySelected)
        {
            randomIndex = new Random().Next(0, possibleKeys.Movies.Count);

            Movie possibleKey = possibleKeys.Movies[randomIndex];
            possibleKey.Credits = await Tmdbapi.GetCastAndCrewForMovieAsync(possibleKey.Id);

            bool actorInPossibleKey = possibleKey.Credits.Cast.Any(c => c.Id == Actor.Id);
            if (actorInPossibleKey == false)
            {
                _answerKey = possibleKey;
                _answerKey.PosterPath = _imagePath + _answerKey.PosterPath;
                _keySelected = true;
                movies.Add(_answerKey);
            }
        }
        movies = movies.OrderBy(m => m.Title).ToList();
        return movies;
    }
}
