@page "/about"

<PageTitle>About</PageTitle>

<section class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="card" style="width: 30rem;">
            <div class="card-body text-center">
                <h5 class="card-title">About</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Tyler Beck | 202code</h6>
                <p class="card-text">This application was built as a showcase of my developer skills, for use in my online portfolio.<br />Feel free to look at the code on my github, if you're so inclined.<br />Shout out to The Movie Data Base for their wonderful API providing all the Actor and Movie data.</p>
                <p>If you happen across any bugs, or if you want to hire me, feel free to reach out via Linkedin or shoot me an email at <a href="mailto:name@email.com">tbeck.202code@gmail.com</a></p>
                <a href="https://www.themoviedb.org/" class="card-link" target="_blank">The Movie DB</a>
                <a href="https://github.com/Tbeck202/FastFilmography" class="card-link" target="_blank">Github</a>
                <a href="https://www.linkedin.com/in/tylerbeck202/" class="card-link" target="_blank">Linkedin</a>
            </div>
        </div>
    </div>
</section>

@code {

}
