@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if(!gameInProgress){
    <h1>Fast Filmography!</h1>
    <section class="container-fluid ">
        <div class="row">

            <div class="col">
                <p>Think you know a thing or two about movie stars?</p>

                <p>We'll show you a movie star and a handful of movies, and you'll have 10 seconds to pick which of those movies your star has <span class="fw-bold">NOT</span> appeared in.<br />Every couple of seconds, we'll remove a movie from the list until there's only one left. Can you beat the clock??</p>
                <p>Click the button below to play!</p>
            </div>

        </div>
    </section>
}


<Play SetGameInProgress="@StartGame"/>

@code {
    bool gameInProgress = false;

    private void StartGame(bool inProgress)
    {
        gameInProgress = inProgress;
        StateHasChanged();
    }
}