@page "/"

<PageTitle>Home</PageTitle>

<h1>Fast Filmography!</h1>

<section>
    <p>Think you know a thing or two about movie stars?</p>
    
    <p>We'll show you a movie star and a handful of movies, and you'll have 10 seconds to pick which of those movies your movie star has NOT appeared in. Every 2 seconds, we'll remove a moive from the list until there's only one movie left.</p>
    
    <p>Can you beat the clock??</p>
    <p>Click the button below to start playing!</p>
</section>


<Play />
