@inherits LayoutComponentBase

<div class="page">
    <!-- 
    <div class="sidebar">
        <NavMenu />
    </div>
    -->
    <main>
        <div class="top-row px-4">
            @* <h1 class="text-dark"><a href="/" id="homeLink" class="link-dark" >Fast Filmography!</a></h1> *@
            <a class="navbar-brand display-3 text-dark" href="">Fast Filmography</a>
            @* <a href="../Components/Pages/About.razor" target="_blank">About</a> *@
            <NavLink class="nav-link" href="about">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> About
            </NavLink>
        </div>

        <article class="container-md content bg-dark">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
